@font-face {
    font-family: 'Roboto-Thin';
	src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto-Light';
	src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto-Regular';
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

html, body {
	font-family: Roboto-Regular;
	font-size: 15px;
	
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 40px;
	font-family: Roboto-Thin;
	margin: 15px 0px;
	
}

a:link {
	color: #0091ea;
	text-decoration: none;
}

a:visited {
	color: #0091ea;
	text-decoration: none;
}

a:hover {
	color: #0091ea;
	text-decoration: underline;
}

input[type=submit] {
	background: #0091ea; 
	border: 0 none;
    cursor: pointer;
	font-size: 18px;
	font-family: Roboto-Regular;
	color: #FFF;
	box-shadow: 1px 1px 2px 1px #8f8f8f;
	border-radius: 2px;
	text-transform: uppercase;
	padding: 6px 10px;
	margin: 5px;
}

input[type=submit]:hover {
	background: #00c853; 
	border: 0 none;
    cursor: pointer;
	font-size: 18px;
	font-family: Roboto-Regular;
	color: #FFF;
	box-shadow: 2px 2px 3px 2px #8f8f8f;
	border-radius: 2px;
	text-transform: uppercase;
	padding: 6px 10px;
	margin: 5px;
	transition:0.1s;
}

.logowanie {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #666;
	background-color: #f7f7f7;
	width: 480px; margin-left: -240px;
	height: 470px; margin-top: -235px;
	text-align: center;
}

.logowanie .tytul {
	font-family: Roboto-Thin;
	font-size: 45px;
	margin: 25px 0 20px 0;
}

.logowanie .podtytul {
	font-family: Roboto-Thin;
	font-size: 28px;
	margin: 0 0 20px 0;
	
}

.logowanie form {
	height: 230px;
}

.logowanie input[type=email], .logowanie input[type=text], .logowanie input[type=password] {
	border: none;
	border-bottom: 2px solid #818181;
	font-family: Roboto-Thin;
	font-size: 20px;
	background: none;
	width: 230px;
	margin-bottom: 20px;
	padding: 5px;
}

.logowanie input[type=submit] {
	background: #0091ea url('../images/ok.png') no-repeat 10px center;
    padding-left: 38px;
	margin: 15px 0 0 0; 
}

.logowanie input[type=submit]:hover {
	background: #00c853 url('../images/ok.png') no-repeat 10px center;
	margin: 14px 1px 0 -1px; 
}

.logowanie img {
	margin-right: 20px;
	margin-bottom: -10px;
}

.logowanie a {
	font-size: 20px;
}

.logowanie a img {
	margin: 0 5px -3px 0;
}

.rejestracja {
	border-radius: 10px;
	box-shadow: 2px 2px 5px #666;
	background-color: #f7f7f7;
	width: 480px;
	margin: 20px auto 50px auto;
	padding: 1px;
	text-align: center;
}

.rejestracja .tytul {
	font-family: Roboto-Thin;
	font-size: 45px;
	margin: 25px 0 20px 0;
}

.rejestracja .podtytul {
	font-family: Roboto-Thin;
	font-size: 28px;
	margin: 0 0 15px 0;	
}

.rejestracja form {
	margin-bottom: 15px;
}

.rejestracja label {
	display: inline-block;
	width: 120px;
	text-align: right;
	margin-right: 20px;
	margin-left: -20px;
	font-size: 17px;
	font-family: Roboto-Light;
}

.rejestracja input[type=email], .rejestracja input[type=text], .rejestracja input[type=password] {
	border: none;
	border-bottom: 2px solid #818181;
	font-family: Roboto-Thin;
	font-size: 17px;
	background: none;
	width: 230px;
	margin-bottom: 10px;
	padding: 5px;
}

.rejestracja input[type=submit] {
	background: #0091ea url('../images/ok.png') no-repeat 10px center;
    padding-left: 38px;
	margin: 15px 0 0 0; 
}

.rejestracja input[type=submit]:hover {
	background: #00c853 url('../images/ok.png') no-repeat 10px center;
	margin: 14px 1px 0 -1px; 
}

.niezalogowany {
	position: fixed;
	top: 50%;
	left: 50%;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #666;
	background-color: #f7f7f7;
	width: 480px; margin-left: -240px;
	height: 400px; margin-top: -225px;
	text-align: center;
	font-family: Roboto-Thin;
	padding: 25px;
}

.niezalogowany h1 {
	font-family: Roboto-Thin;
	font-weight: normal;
	font-size: 45px;
	margin: 30px 0;
}

.niezalogowany h2 {
	font-family: Roboto-Thin;
	font-size: 20px;
	line-height: 35px;
	margin: 0 0 15px 0;
	
}

nav {
	width: 200px;
	background: #eeeeee;
	color: #4c4c4c;
	font-size: 20px;
	font-family: Roboto-Light;
	padding: 20px 10px 5px 20px;
	box-shadow: 1px 1px 2px 1px #8f8f8f;
	display: inline-block;
	height: 100%;
	position: fixed;
	overflow: auto;
	margin-top: -2px;
	z-index: 1;
}

nav .user {
	font-size: 30px;
}

nav .powiadomienie {
	color: #ff2c2c;
	border-bottom: 1px solid #c5c5c5;
	padding: 20px;
	margin-left: -20px;
	margin-right: -10px;
}

nav img {
	margin-bottom: -3px;
	margin-right: 20px;
}

nav .powiadomienie img {
	margin-right: 0;
}

nav ul , nav li{
	list-style: none;
	margin: 10px 0;
	padding: 0;
}

nav a:link {
	color: inherit;
}

nav a:visited {
	color: inherit;
}

.zakladki {
	position: fixed;
	z-index: 1;
	width: 100%;
	background: #FFF;
}

.zakladki .wnetrze {
	background: #dfdfdf;
	box-shadow: 1px 1px 2px 1px #8f8f8f;
	color: #595959;
	font-size: 17px;
	text-transform: uppercase;
	display: inline-block;
	padding-left: 240px;
}

.zakladka {
	padding: 19px;
	display: inline-block;
}

.aktywna {
	border-bottom: 2px solid #0091ea;
	padding-bottom: 17px;
	color: #0091ea;
}

.tresc {
	display: inline-block;
	position: absolute;
	padding: 0 25px 25px 25px;
	margin: 0 0 0 230px;
	height: calc(100% - 50px);
	width: calc(100% - 280px);
}

.ogolne {
	margin-top: 41px !important;
}

.ogolne .nazwa {
	margin: 5px 0;
}

.ogolne .info {
	font-size: 20px;
	font-family: Roboto-Light;
	margin: 20px 0;
}

.ogolne p {
	margin-top: 40px;
	line-height: 23px;
	text-align: justify;
}

footer {
	width: 100%;
    position: fixed;
	bottom: 0;
	text-align: center;
	background: #ffffff;
	z-index: -1;
}

.calendar {
    font-family: Arial, Verdana, Sans-serif;
    width: 100%;
    min-width: 960px;
    border-collapse: collapse;
}

.calendar tbody tr:first-child th {
    color: #505050;
    margin: 0 0 10px 0;
}

.day_header {
    font-weight: normal;
    text-align: center;
    color: #757575;
    font-size: 10px;
}

.calendar td {
    width: 14%; /* Force all cells to be about the same width regardless of content */
    border:1px solid #CCC;
    height: 100px;
    vertical-align: top;
    font-size: 10px;
    padding: 0;
}

.calendar td:hover {
    background: #F3F3F3;
}

.day_listing {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #2C2C2C;
    padding: 5px 5px 0 0;
}

div.today {
    background: #E9EFF7;
    height: 100%;
} 

#create_grant label {
	display: inline-block;
	width: 230px;
	text-align: right;
	padding-right: 10px;
}

#create_grant input[type=text], #create_grant input[type=number], #create_grant input[type=date], #create_grant select, #create_grant textarea {
	width: calc(100% - 400px);
	min-width: 250px;
	margin: 5px 0;
	font-size: 15px;
}
.logowanie input[type=email], .logowanie input[type=text], .logowanie input[type=password] {
	border: none;
	border-bottom: 2px solid #818181;
	font-family: Roboto-Thin;
	font-size: 20px;
	background: none;
	width: 230px;
	margin-bottom: 20px;
	padding: 5px;
}

#tabContainer {
	background: #dfdfdf;
	margin-left: -25px;
	box-shadow: 1px 1px 2px 1px #8f8f8f;
	z-index: 0;
}

#tabName {
	visibility: hidden;
	height: 40px;
}
